// colors
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$instock-white: #ffffff;

$instock-slate: #5c667e;
$instock-cloud: #bdc5d5;

$instock-graphite: #232940;
$instock-light-grey: #f7f8f9;

$instock-green: #158463;
$instock-red: #c94515;

// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;

// desktop/tablet font sizes
$fs-desktop-pageHeader: 2rem;
$fs-desktop-subHeader: 1.5rem;
$fs-desktop-labels: 0.875rem;
$fs-desktop-links: 0.875rem;
$fs-desktop-buttons: 0.875rem;
$fs-desktop-tableHeader: 0.75rem;
$fs-desktop-bodyLarge: 1rem;
$fs-desktop-bodyMedium: 0.875rem;
$fs-desktop-bodySmall: 0.75rem;

// mobile font sizes
$fs-mobile-pageHeader: 1.5625rem;
$fs-mobile-subHeader: 1.25rem;
$fs-mobile-labels: 0.8125rem;
$fs-mobile-links: 0.8125rem;
$fs-mobile-buttons: 0.8125rem;
$fs-mobile-tableHeader: 0.6875rem;
$fs-mobile-bodyLarge: 0.9375rem;
$fs-mobile-bodyMedium: 0.8125rem;
$fs-mobile-bodySm: 0.75rem;
$fs-mobile-bodySmall: 0.6875rem;

// font weight
$fw-semi-bold: 600;
$fw-regular: 400;
