@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;


.inventory-ribbon {
    display: none;
    list-style: none;
    background-color: #F7F8F9;

    @include tablet{
        display: block;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        color: $instock-slate;
        gap: 1rem;
        padding: 0 2rem;
    }

    &__col {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0 0.5rem;
        flex: 1 1 50%;
        font-size: 0.75rem;

        &--title{
            font-size: 0.75rem;
            font-weight: $fw-semi-bold;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $instock-indigo;
            text-decoration: none;
            // margin-top: -0.3rem;

            @include tablet{
                margin-top: 0;
                font-size: $fs-desktop-bodyMedium;
            }

            &::after{
                content: url(../../assets/icons/chevron_right-24px.svg);
                line-height: 0;
            }
        }

        &--success, &--failed{
            background-color: green;
            color: #ffffff;
            width: 3rem;
            text-align: center;
            padding: 0.4rem;
            border-radius: 1rem;
        }
        
        &--failed{
            background-color: red;
            color: #ffffff;
            width: 5rem;
            text-align: center;
            padding: 0.4rem;
            border-radius: 1rem;
        }

       
        &:before {
            font-size: 0.6875rem;
            font-weight: 600;
            text-transform: uppercase;
            color: silver;
            margin-bottom: 0.5rem;
            content: attr(data-label);
            
            @include tablet {
                display: none;
            }
        }

        @include tablet {
            &--1,
            &--2,
            &--3,
            &--4,
            &--5
            {flex: 1;}
        }

        &-btn {
            padding: 0.6rem 1rem;
            background-color: black;
            color: white;
            text-align: center;
            text-decoration: none;
            font-weight: 600;
            border-radius: 0.3rem;
            text-transform: uppercase;
            letter-spacing: 0.03rem;
            margin-bottom: 1rem;
            cursor: pointer;

            @include tablet {
                margin-bottom: 0;
            }

            &:hover {
                background-color: blacker;
            }
        }

        &--1, &--2, &--3, &--4, &--5{
            order: 1;
            display: flex;
            flex-direction: column;

            @include tablet{
                flex-direction: row;
                align-items: center;
            }
        }

        &--1{
            
            @include tablet{
                flex: 1.6;
            }
        }

        &--2{
            order: 3;

            @include tablet{
                order: 2;
            }
        }

        &--3{
            order: 2;

           
        }

        &--4{
            order: 4;
        }

        &--5{
            order: 5;

            &--hidden{
                display: block;

                @include tablet{
                    display: none;
                }
            }

            @include tablet{
                flex-basis: 0;
            }
        }

        &--6{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            order: 6;
            flex: 1;
            padding-bottom: 1rem;

            @include tablet{
                margin-top: 0;
                justify-content: flex-end;
                padding-bottom: 0;
                padding-top: 1rem;
            }
            
            &::before{
                content: none;
            }
        }

        &--btn{
            border: 0;
            background-color: transparent;
            cursor: pointer;

            @include tablet{
                margin-top: -1rem;
            }
        }
        
    }

    &__row {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        font-size: 0.6rem;
        border-bottom: solid 1px grey;

        @include tablet {
            display: flex;
            justify-content: space-between;
            margin-top: 0;
            gap: 1rem;
            padding: 1.5rem 0.5rem;

            &:hover {
                background-color: aliceblue;
                transition: all 0.2s;
            }
        }
    }
}

.sort{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        &::after{
            content: url(../../assets/icons/sort-24px.svg);
        }

    }