@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.modal {
    position: fixed;
    top: 0;
    left: 0;

    &__bg {
        background-color: rgba($color: #13182c, $alpha: 0.3);
        width: 100vw;
        height: 100vh;
    }

    &__body {
        position: fixed;
        top: 0;
        left: 0;

        background: white;
        height: 100vh;
        width: 100vw;

        display: flex;
        flex-direction: column;
        padding: 1rem;
        padding-bottom: 1.5rem;
        color: #13182c;

        @include tablet {
            border-radius: 0.1875rem;
            width: 87.5%;
            height: 16.375rem;

            top: 38%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @include desktop {
            width: 52.5%;

            // top: 37.8%;
        }
    }

    &__close {
        align-self: flex-end;
        margin: 0.3125rem;
        width: auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-top: 1.5625rem;
        flex: 1;

        @include tablet {
            padding: 0 3rem;
            margin-top: 0;
        }
    }

    // &__header {
    //     margin-top: 1.5625rem;

    //     @include tablet {
    //         margin-top: 0.3125rem;
    //     }
    // }

    &__title {
        font-size: 1.75rem;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__text {
        margin-top: 1rem;
        font-size: 0.9375rem;
        line-height: 1.625rem;
        flex: 1;

        @include tablet {
            font-size: 1rem;
        }
    }

    &__actions {
        display: flex;
        gap: 1rem;

        @include tablet {
            justify-content: right;
        }
    }

    &__button {
        flex: 1;
        height: 2.25rem;
        border-radius: 1.25rem;
        font-size: 0.8125rem;

        @include tablet {
            height: 2.375rem;
            width: fit-content;
            flex: none;
            padding: 0 1rem;
            font-size: 0.875rem;
        }

        &--cancel {
            background-color: white;
            color: #5c667e;
            border: 0.0625rem solid #bdc5d5;

            &:hover {
                border-color: #2e66e5;
                color: #2e66e5;
            }
        }

        &--delete {
            background-color: #c94515;
            color: white;
            border: none;

            &:hover {
                background-color: #232940;
            }
        }
    }
}
