@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.header {
    padding: 1.6875rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: $instock-graphite;
    padding-bottom: 5.35rem;

    @include tablet {
        padding: 1.6875rem 3rem;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 6.5rem;
    }

    @include desktop {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    &__logo {
        // height: 1.076923rem;
        width: 8.036875rem;
        margin: 0 auto;
        padding-bottom: 1rem;
        box-sizing: content-box;

        @include tablet {
            // height: 1.076923rem;
            padding-top: 0.68rem;
            margin: 0 auto 0 0;
            padding-bottom: 0;
        }
    }

    &__nav {
        margin: 0 auto;

        @include tablet {
            margin: 0 auto 0 0;
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 2.25rem;
    }

    &__button {
        display: flex;
        justify-content: center;
        width: 10.25rem;
        height: 2.25rem;
        box-sizing: border-box;
        text-decoration: none;
        padding-top: 0.5rem;
        border-radius: 20px;
        border: none;
        color: $instock-white;
        background-color: $instock-graphite;
        font-size: $fs-mobile-buttons;

        @include tablet {
            width: 6.6875rem;
            height: 2.375rem;
            font-size: $fs-desktop-buttons;
        }
    }

    &__button:focus {
        background-color: $instock-black;
    }
}

.container--special {
    width: 90%;
    border-radius: 0.1875rem;
    // height: auto;
    // margin-top: -4rem;
    // margin-inline: auto;
    background-color: $instock-graphite;
    // box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    @include tablet {
        margin: auto 0;
    }
    @include desktop {
        max-width: 80rem;
    }
}