@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
html {
    font-family: "Titillium Web", sans-serif;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
button {
    border: 0;
    background: transparent;
    cursor: pointer;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $instock-light-grey;
}
img {
    max-width: 100%;
    height: auto;
    outline: none;
}
a,
a:visited {
    text-decoration: none;
}
.container {
    width: 90%;
    border-radius: 0.1875rem;
    height: auto;
    margin-top: -4rem;
    margin-inline: auto;
    background-color: $instock-white;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    @include tablet {
        margin: -5.35rem auto 0;
    }
    @include desktop {
        max-width: 80rem;
    }
}